*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Harith{
    height: 100vh;
    width: 100%;
    background-image: url(./black-paper-background.webp);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: magenta;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
ul li a{
    color: white;
    text-decoration: none;

}
ul li a:hover{
    color: magenta;
    transition: 0.4s;
}
.btn{
    background-color: magenta;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    padding: 70px 10%;
    letter-spacing: 2px;
}
h1{
    font-weight: bold;
    font-size: 90px;
    color: white;
}
h4{
    font-size: 30px;
}
.About{
    width: 100%;
    padding: 100px 0px;
    background-image: url(wave-background-abstract-gradient-design_483537-3688.avif);
}
.About img{
    height: auto;
    width: 450px;
}
.About-Text{
    width: 550px;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
    color: white;
}
h5{
    font-size: 40px;
}
button{
    background-color: magenta;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.4s;
    margin-top: 40px;   
}
.About-Text h2{
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.About-Text p{
    margin-top: 10px;
}